* {
 box-sizing:border-box;
}


body {

 margin:0;

 width:100vw;
 height:100vh;

 background:#111;

 display:flex;
 justify-content:center;
 align-items:center;

 font-family:sans-serif;

}


/* ゲーム画面 */

#game {

 width:90vw;

 max-width:1200px;

 aspect-ratio:16 / 9;


 background:
 linear-gradient(
 135deg,
 #faf7f2,
 #dce8f2
 );


 position:relative;

 overflow:hidden;

 border-radius:20px;

 box-shadow:
 0 20px 50px #0008;

}



/* 日付 */

.date {

 position:absolute;

 top:25px;

 left:35px;

 font-size:20px;

 color:#555;

}



/* キャラ */

.character {

 position:absolute;

 left:50%;

 bottom:0;

 transform:translateX(-50%);


 font-size:300px;

}



/* 台詞 */

.message {

 position:absolute;


 left:50%;

 bottom:60px;

 transform:translateX(-50%);


 width:60%;

 padding:20px;


 background:
 rgba(255,255,255,0.8);


 border-radius:20px;


 text-align:center;


 font-size:24px;


}



/* ボタン */

.menu {


 position:absolute;


 right:30px;

 bottom:30px;


 padding:15px 40px;


 border:none;


 border-radius:30px;


 background:white;


 font-size:18px;


 cursor:pointer;


 box-shadow:
 0 5px 15px #0003;


}
